.background{
	width: 100%;
	height: auto;
}

.background img{
	width: 100%;
}

#photo{
	width: 100%;
	text-align: center;
	margin-top: -7rem;
}

#photo img{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 2px solid #fff;
}
#photo .name{
	color: #FFFFFF;
}

/*头部图标*/
.mui-bar-nav{
	box-shadow: none;
}

.mui-bar{
	background: none;
}

.mui-bar-nav~.mui-content{
	padding-top:0px;
}

.mui-icon{
	color:#efeff4;
}

/*选项*/
.title {
	font-size: 0.9rem;
	height: 30px;
	line-height: 30px;
	border-left: 3px solid #f68531;
}

.title .mui-pull-left {
	margin-left: 10px;
}

.related{
	margin: 25px 0px 5px 0px;
}

.scene{
	margin: 15px 0px 5px 0px;
}

.mui-badge{
	position: absolute;
	left: 100%;
	margin-left: -35%;
	padding: 4px 4px;
	color: #f68531;
}

.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
	font-size: 0.9rem;
}

.mui-grid-view.mui-grid-9{
	background: #fff;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	border-right:none;
	border-bottom: none;
	padding:8px 8px;
}

.mui-grid-view.mui-grid-9 .mui-media .iconfont{
	font-size: 1.8rem;
}

.iconfont{
	color: #f68531;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active{
	background-color: #fbf9f9;
}
