.mui-title{
	color: #555555;
}

.mui-bar-nav {
	box-shadow: 0 1px 0px #e5e1e1;
}

.search {
	height: 29px;
	line-height: 29px;
	width: 100%;
	font-size: 0.9rem;
	border-radius: 2rem;
	margin: 6px 0;
	text-align: left;
	background-color: rgba(0,0,0,.1);
	padding: 0 10px;
}

.search .mui-icon-search{
	display: inline-block;
	margin-top: 4px;
	font-size: 1rem;
}

/*菜单选项*/
.mui-segmented-control {
	font-size: 0.9rem;
}

.mui-segmented-control.mui-scroll-wrapper .mui-control-item {
	padding: 0px 20px;
}

.iconfont{
	font-size: 24px;
	padding: 10px;
	margin-right: -10px;
	margin-left: -10px;
	
}

.mui-badge{
	margin-left: -5px;
	padding: 3px 3px;
	background: red;
}

.mui-input-clear::-webkit-input-placeholder {
	font-size: 0.9rem;
	color: #b3b4b4;
}