.mui-bar .mui-pull-right {
	line-height: 44px;
	font-size: 0.9rem;
}

.mui-bar .mui-title {
	right: 50px;
}

.mui-title .mui-input-clear {
	border-radius: 2rem;
	font-size: 0.9rem;
	color: #555555;
	font-weight: normal;
}

.mui-input-clear::-webkit-input-placeholder {
	font-size: 0.9rem;
	color: #555555;
}