.mui-title {
	font-size: 1rem;
}

.mui-content {
	margin-bottom: 50px;
}

.mui-bar .mui-pull-right {
	line-height: 44px;
	font-size: 0.9rem;
}

.search {
	height: 29px;
	line-height: 29px;
	width: 92%;
	font-size: 0.9rem;
	border-radius: 2rem;
	margin: 6px 4%;
	text-align: left;
	background-color: rgba(0,0,0,.1);
	padding: 0 10px;
	color: #8F8F94;
}

.search .mui-icon-search{
	display: inline-block;
	margin-top: 4px;
	font-size: 1.2rem;
	color: #8F8F94;
}

.mui-table-view {
	font-size: 1rem;
	background-color: #f7f7f7;
}

.mui-table-view-cell {
	padding: 13px 15px;
}


/*下拉刷新*/
.mui-pull-bottom-pocket {
	margin-top: 5px;
}

.mui-pull-caption {
	font-size: 14px;
}

/*音乐列表*/
.mui-table-view-cell{
	font-size: 0.9rem;
}

.mui-table-view-cell .length,.mui-table-view-cell .singer{
	font-size: 0.8rem;
	color: #b3b4b4;
}

.url{
	display: none;
}

.title{
	width: 65%;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.singer{
	width: 30%;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-align: right;
	
}

/*音乐播放*/
footer {
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0px;
	background-color: #fafafa;
}

footer audio{
	width: 100%;
}

.current{
	color: #f68531;
}

#online{
	display: block;
	margin-bottom: 50px;
}

#location{
	display: none;
	margin-bottom: 50px;
}