<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>企业宣传</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/iconfont.css" />
		<link rel="stylesheet" href="../css/template/company.css" />
	</head>

	<body>
		<div class="mui-content">
			<ul class="mui-table-view mui-grid-view mui-grid-9">
				<li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3" id="abstract">
					<a href="#">
						<span class="iconfont icon-gongsi-xuanzhong"></span>
						<div class="mui-media-body">公司简介</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3" id="culture">
					<a href="#">
						<span class="iconfont icon-penzai"></span>
						<div class="mui-media-body">企业文化</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3" id="goods">
					<a href="#">
						<span class="iconfont icon-generalize"></span>
						<div class="mui-media-body">产品品牌</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3" id="all">
					<a href="#">
						<span class="iconfont icon-quanbu"></span>
						<div class="mui-media-body">全部</div>
					</a>
				</li>
			</ul>
			<div class="title">
				<span class="mui-pull-left">热销排行榜</span>
				<span class="mui-pull-right"><i class="iconfont icon-more"></i></span>
			</div>
			<div class="info" id="hotInfo">
				<div class="list">
					<div class="cover">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
					</div>
					<div class="cover center">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
					</div>
					<div class="cover right">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
					</div>
					<div class="cover">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
					</div>
					<div class="cover center">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
					</div>
					<div class="cover right">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
					</div>
					<div class="cover">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
					</div>
					<div class="cover center">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
					</div>
					<div class="cover right">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/template/company.js"></script>
	</body>
</html>