<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>热门模板</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/iconfont.min.css" />
		<link rel="stylesheet" href="../css/template/hot.css" />
		<script type="text/javascript" src="../js/angular/angular.min.js"></script>
	</head>

	<body ng-app="scene" ng-controller="hot">
		<div class="mui-content">
			<div class="adv">
				<img src="../img/banner3.jpg" />
			</div>
			<div class="title">
				<span class="mui-pull-left">最新模板</span>
				<span class="mui-pull-right" ng-click="refresh()"><i class="mui-icon mui-icon-loop"></i> 换一批</span>
			</div>
			<div class="info start"></div>
			<div class="title">
				<span class="mui-pull-left">热门推荐</span>
				<span class="mui-pull-right"><i class="iconfont icon-more"></i></span>
			</div>
			<div class="info" id="hotInfo">
				<div class="list">
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/template/hot.js"></script>
	</body>

</html>