<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>热门模板</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/iconfont.min.css" />
		<link rel="stylesheet" href="../css/template/hot.css" />
	</head>

	<body>
		<div class="mui-content">
			<div class="adv">
				<img src="../img/banner3.jpg" />
			</div>
			<div class="title">
				<span class="mui-pull-left">最新模板</span>
				<span class="mui-pull-right"><i class="mui-icon mui-icon-loop"></i> 换一批</span>
			</div>
			<div class="info">
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
			</div>
			<div class="title">
				<span class="mui-pull-left">热门推荐</span>
			</div>
			<div class="info" id="hotInfo">
				<div class="list">
					<div class="cover">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
					</div>
					<div class="cover center">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
					</div>
					<div class="cover right">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
					</div>
					<div class="cover">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
					</div>
					<div class="cover center">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
					</div>
					<div class="cover right">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
					</div>
					<div class="cover">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
					</div>
					<div class="cover center">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
					</div>
					<div class="cover right">
						<img src="../img/cover.jpg" />
						<span class="describes">2018新年派对邀请函</span>
						<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/template/hot.js"></script>
	</body>

</html>