<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>推荐场景</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/iconfont.min.css" />
		<link rel="stylesheet" href="../css/swiper-4.1.0.min.css" />
		<link rel="stylesheet" href="../css/template/recommend.css" />
		<script type="text/javascript" src="../js/angular/angular.min.js"></script>
	</head>
	<body>
		<div class="mui-content" ng-app="scene" ng-controller="recommend">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" ng-repeat="info in adv track by $index">
						<img src="{{info.img}}"/>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="title">
				<span class="mui-pull-left">精选模板</span>
				<span class="mui-pull-right" ng-click="refresh()"><i class="mui-icon mui-icon-loop"></i> 换一批</span>
			</div>
			<div class="info start"></div>
			<div class="title">
				<span class="mui-pull-left">最新推荐</span>
				<span class="mui-pull-right"><i class="iconfont icon-more"></i></span>
			</div>
			<div class="info news"></div>
			<div class="store" id="store">
				设计小店
			</div>
		</div>
		<!--发布按钮-->
		<div class="issue" id="issue">
			<i class="iconfont icon-add"></i>
		</div>
		<script type="text/javascript" src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/swiper-4.1.0.min.js"></script>
		<script type="text/javascript" src="../js/template/recommend.js"></script>
	</body>
</html>