<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>推荐场景</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/iconfont.css" />
		<link rel="stylesheet" href="../css/template/recommend.css" />
	</head>
	<body>
		<div class="mui-content">
			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../img/banner2.jpg">
						</a>
					</div>
					<div class="mui-slider-item">
						<a href="#">
							<img src="../img/banner1.jpg">
						</a>
					</div>
					<div class="mui-slider-item">
						<a href="#">
							<img src="../img/banner2.jpg">
						</a>
					</div>
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../img/banner1.jpg">
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
			<div class="title">
				<span class="mui-pull-left">精选模板</span>
				<span class="mui-pull-right"><i class="mui-icon mui-icon-loop"></i> 换一批</span>
			</div>
			<div class="info">
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
			</div>
			<div class="title">
				<span class="mui-pull-left">最新推荐</span>
				<span class="mui-pull-right">全部</span>
			</div>
			<div class="info">
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
			</div>
			<div class="store" id="store">
				设计小店
			</div>
		</div>
		<!--发布按钮-->
		<div class="issue" id="issue">
			<i class="iconfont icon-add"></i>
		</div>
		<script type="text/javascript" src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/template/recommend.js"></script>
	</body>
</html>