<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>企业宣传</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/iconfont.min.css" />
		<link rel="stylesheet" href="../css/template/tab-info.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" id="title">企业宣传</h1>
			<a class="mui-icon iconfont icon-mianfeishichang mui-pull-right free" id="charge"></a>
		</header>
		<div class="mui-content">
			<div class="title">
				<span class="mui-pull-left" id="small-title">积分兑换模板</span>
			</div>
			<div class="info">
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
				<div class="cover">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 9</span>
				</div>
				<div class="cover center">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 18</span>
				</div>
				<div class="cover right">
					<img src="../img/cover.jpg" />
					<span class="describes">2018新年派对邀请函</span>
					<span class="integral"><i class="iconfont icon-jifen"></i> 3</span>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/template/tab-info.js"></script>
	</body>

</html>