<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>场景发布</title>
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/iconfont.min.css" />
		<link rel="stylesheet" href="css/swiper-4.1.0.min.css" />
		<link rel="stylesheet" href="css/animate.min.css" />
		<link rel="stylesheet" href="css/scene/issue.css" />
		<script type="text/javascript" src="js/angular/angular.min.js"></script>
	</head>

	<body ng-app="scene" ng-controller="issue">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="mui-pull-right finish" id="finish">完成</a>
		</header>
		<div class="mui-content">
			<div class="panel">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" ng-repeat="pages in scene track by $index" id="page{{$index}}">
							<i class="mui-icon mui-icon-closeempty" ng-click="delPage()"></i>
							<div class="page">
								<div class="bg" style="background-image: url('{{pages.bgUrl}}');background-color: {{pages.color}};">
									<ul class="edit-area" id="{{pages.areaId}}">
										<li ng-repeat="list in pages track by $index" id="inside{{pages.areaId}}{{$index}}" class="{{list.className}}" style="{{list.liCss}}" ng-click="check(pages.areaId,$index)">
											<span compile="list.content" style="{{list.divCss}}"></span>
											<div class="bar bar-top"></div>
											<div class="bar bar-bottom"></div>
											<div class="bar bar-left"></div>
											<div class="bar bar-right"></div>
											<div class="bar bar-radius radius-del" ng-click="del(pages.areaId,$index)">
												<i class="iconfont icon-close"></i>
											</div>
											<div class="bar bar-radius radius-drop" id="drop{{pages.areaId}}{{$index}}"></div>
											<div class="bar bar-radius radius-height" ng-click="edit(pages.areaId,$index)">
												<i class="mui-icon mui-icon-compose"></i>
											</div>
											<div class="bar bar-radius radius-width" id="width{{pages.areaId}}{{$index}}"></div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="add" ng-click="addPage()">
								<span class="iconfont icon-tianjiatupian"></span>
								<span class="toast">添加页面</span>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="swiper-container menu">
				<div class="swiper-wrapper">
					<div class="swiper-slide option">
						<a href="javascript:void(0);" class="addPage">
							<span class="iconfont icon-moban-copy"></span>
							<span class="name">+模板</span>
						</a>
					</div>
					<div class="swiper-slide option">
						<a href="javascript:void(0);" class="addText">
							<span class="iconfont icon-wenzi-copy"></span>
							<span class="name">+文字</span>
						</a>
					</div>
					<div class="swiper-slide option">
						<a href="javascript:void(0);" class="addImg">
							<span class="iconfont icon-tupian-copy"></span>
							<span class="name">+图片</span>
						</a>
					</div>
					<div class="swiper-slide option">
						<a href="javascript:void(0);" class="addBg">
							<span class="iconfont icon-huanbeijing-copy"></span>
							<span class="name">背景</span>
						</a>
					</div>
				</div>
			</div>
		</footer>
		<div class="mui-popup mui-popup-in" style="display: none;" id="widget">
			<div class="mui-popup-inner">
				<div class="mui-popup-text">是否保存数据?</div>
			</div>
			<div class="mui-popup-buttons">
				<span class="mui-popup-button" onclick="bin()">不保存</span>
				<span class="mui-popup-button" onclick="cShade()">取消</span>
				<span class="mui-popup-button mui-popup-button-bold" onclick="save()">保存</span>
			</div>
		</div>
		<div class="mui-popup-backdrop mui-active" style="display: none;" id="shade"></div>
		<script type="text/javascript" src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/swiper-4.1.0.min.js"></script>
		<script type="text/javascript" src="js/swiper.animate.min.js"></script>
		<script type="text/javascript" src="js/hammer.min.js"></script>
		<script type="text/javascript" src="js/scene/zoom.min.js"></script>
		<script type="text/javascript" src="js/html2canvas.min.js"></script>
		<script type="text/javascript" src="js/scene/issue.js"></script>
	</body>

</html>