.mui-title{
	font-size: 1rem;
}

/*免费图标切换*/
.free{
	color: #C0C0C0;
}

/*模板信息*/
.title {
	margin-top: 10px;
	font-size: 0.9rem;
	height: 30px;
	line-height: 30px;
	border-left: 3px solid #f68531;
}

.title .mui-pull-left {
	margin-left: 10px;
}

.title .mui-pull-right {
	margin-right: 10px;
	color: #f68531;
}

.title .mui-pull-right i {
	font-size: 1rem;
	font-weight: 900;
}

.info {
	margin: 0px 0px 15px 0px;
	padding: 0px 4%;
	width: 100%;
	height: auto;
}

.list{
	width: 100%;
	height: auto;
}

.info .cover {
	width: 30%;
	height: auto;
	display: inline-block;
	margin-top: 10px;
}

.info .center {
	margin-left: 5%;
}

.info .right {
	float: right;
}

.info .cover img {
	width: 100%;
}

.info .cover span {
	width: 100%;
	height: 20px;
	line-height: 20px;
	display: block;
	font-size: 0.8rem;
}

.info .cover .describes {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.info .cover .integral {
	color: #f68531;
}

.info .cover .integral i {
	font-size: 0.9rem;
}

/*下拉刷新*/
.mui-pull-bottom-pocket{
	margin-top: 10px;
}

.mui-pull-caption{
	font-size: 14px;
}
#notice {
	display: none;
}

.notice {
	text-align: center;
	margin: auto;
	height: 5%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.notice i {
	font-size: 4rem;
	color: #8F8F94;
}

.notice span {
	width: 100%;
	display: block;
}

.notice .tip {
	font-size: 0.8rem;
	color: #8F8F94;
}