html,
body {
	width: 100%;
	height: 100%;
}

.mui-title {
	font-size: 1rem;
}

.mui-bar .finish {
	line-height: 44px;
	font-size: 0.9rem;
}

.mui-content {
	height: 100%;
}


/*页面*/
ul {
	list-style: none;
	padding: 0px !important;
	margin: 0px !important;
}

.panel {
	height: 85.7%;
	margin-top: 1rem !important;
}

.panel .swiper-container {
	height: 100%;
}

.panel .swiper-slide {
	height: 100%;
	line-height: 100%;
	background: #e4e4e4;
}

.add {
	width: 100%;
	height: 70px;
	text-align: center;
	color: #bbbbbb;
}

.add span {
	display: block;
}

.add .iconfont {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 3rem;
	margin-top: 200px;
}

.add .toast {
	font-size: 0.9rem;
	margin-top: 5px;
}


/*素材样式*/

.page {
	width: 100%;
	height: 100%;
}

.bg {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.edit-area {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}

.edit-area li {
	width: auto;
	top: 20%;
	left: 5%;
	list-style: none !important;
	position: absolute;
	line-height: 1;
	text-align: -webkit-match-parent;
}

.edit-area img {
	width: 100%;
	height: 100%
}

.edit-area .text {
	line-height: inherit;
	padding: 1rem 0.5rem;
	margin: 0px;
	word-wrap: break-word;
	top: 100px;
	left: 30px;
}


/*选择边框*/

.edit-area .bar {
	position: absolute;
	z-index: 100;
	touch-action: pan-x pan-y;
	user-select: none;
	-webkit-user-drag: none;
	display: none;
}

.bar-top {
	width: 100%;
	height: 5px;
	top: 0px;
	background: url(../../img/bar.png) repeat-x;
}

.bar-bottom {
	width: 100%;
	height: 5px;
	bottom: 0px;
	background: url(../../img/bar.png) repeat-x bottom;
}

.bar-left {
	width: 5px;
	height: 100%;
	top: 0px;
	background: url(../../img/bar.png) repeat-y;
}

.bar-right {
	width: 5px;
	height: 100%;
	top: 0px;
	right: 0px;
	background: url(../../img/bar.png) repeat-y right;
}

.bar-radius {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background: #f68531;
	border: 1px solid #f68531;
}

.radius-drop {
	bottom: -6px;
	right: -6px;
}

.radius-del {
	top: -6px;
	left: -6px;
}

.radius-height {
	bottom: -6px;
	left: -6px;
}

.radius-width {
	top: -6px;
	right: -6px;
}

.radius-del .iconfont {
	font-size: 0.8rem;
	color: #fff;
	position: absolute;
	line-height: 13px;
}

.radius-height .mui-icon-compose {
	font-size: 0.8rem;
	color: #fff;
	position: absolute;
	line-height: 13px;
}


/*底部菜单*/

footer {
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0px;
	background-color: #fafafa;
}

footer .menu .option {
	height: 50px;
	display: inline-block;
	text-align: center;
}

.option span {
	display: block;
}

.option .iconfont {
	margin-top: 5px;
	font-size: 1.2rem;
	color: #565656;
}

.option .name {
	height: 20px;
	line-height: 20px;
	font-size: 0.8rem;
	color: #565656;
}

.mui-popup-inner,
.mui-popup-button {
	font-size: 0.9rem;
}


/*分页*/
.swiper-pagination {
	color: #FFFFFF;
	font-size: 0.6rem;
}

.swiper-pagination-lock {
	display: block;
}