<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>文本编辑</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/iconfont.css" />
		<link rel="stylesheet" href="../css/swiper-4.1.0.min.css" />
		<link rel="stylesheet" href="../css/animate.min.css" />
		<link rel="stylesheet" href="../css/scene/addText.css" />
		<script type="text/javascript" src="../js/angular/angular.min.js"></script>
	</head>

	<body ng-app="text" ng-controller="add">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">文本编辑</h1>
			<a class="mui-action-back mui-pull-right ensure">确定</a>
		</header>
		<div class="mui-content">
			<input type="text" placeholder="请输入文字" id="text" ng-model="value">
			<div class="example {{aEffect}}"  id="example"
				style="font-size:{{fontSize}};color:{{fontColor}};text-align: {{fontAlign}};animation-duration:{{aDuration}}s;animation-delay:{{aDelay}}s">
				<span  ng-bind="value"></span>
			</div>
			<div class="title">
				<span class="mui-pull-left">样式</span>
			</div>
			<div class="size">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide option" ng-repeat="fontSize in fontArray track by $index" ng-click="setSize($index)">
							<span ng-bind="fontSize"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="color">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" ng-repeat="bgColor in colorArray track by $index" ng-click="setColor($index)">
							<span style="background-color: {{bgColor}};" class="bg"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="align">
				<div class="option" ng-click="setAlign(0)">
					<span class="iconfont icon-icon--1"></span>
					<span class="name">左对齐</span>
				</div>
				<div class="option check" ng-click="setAlign(1)">
					<span class="iconfont icon-icon--"></span>
					<span class="name">居中对齐</span>
				</div>
				<div class="option" ng-click="setAlign(2)">
					<span class="iconfont icon-youduiqi"></span>
					<span class="name">右对齐</span>
				</div>
			</div>
			<div class="title">
				<span class="mui-pull-left">动画</span>
			</div>
			<div class="animate">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" ng-repeat="name in animateArray track by $index" 
							ng-click="setAnimate($index)">
							<span ng-bind="name"></span>
						</div>
					</div>
				</div>
				<div class="mui-input-row mui-input-range rang">
		            <label>动画时间：<span id="duration-val">1s</span></label>
		            <input type="range" id="duration" value="1" min="0" max="5" step="0.1" ng-model="aDuration">
		        </div>
		        <div class="mui-input-row mui-input-range rang">
		            <label>延迟时间：<span id="delay-val">0.5s</span></label>
		            <input type="range" id="delay" value="0.5" min="0" max="5" step="0.1" ng-model="aDelay">
		        </div>
			</div>
		</div>
		<script type="text/javascript" src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/swiper-4.1.0.min.js"></script>
		<script type="text/javascript" src="../js/swiper.animate.min.js"></script>
		<script type="text/javascript" src="../js/scene/addText.js"></script>
	</body>

</html>