.mui-title{
	font-size: 1rem;
}

.mui-popup-button{
	font-size: 14px;
}
.mui-content>.mui-table-view:first-child{
	margin-top: 0px;
}

.mui-table-view,.mui-table-view-cell>.mui-slider-handle{
	background-color: #f7f6f6;
}

.mui-table-view{
	font-size: 14px;
}

.mui-table-cell span{
	width: 100%;
	display: block;
	margin-bottom: 5px;
}

.mui-table-view-cell{
	padding: 15px 15px 5px 15px;
}
.notice{
	text-align: center;
	margin: auto;
	height: 5%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.notice i{
	font-size: 4rem;
	color: #8F8F94;
}

.notice span{
	width: 100%;
	display: block;
}

.notice .title{
	margin-top: -10px;
	font-size: 0.8rem;
	color: #8F8F94;
}

.dispress{
	display: none;
}
