.complete {
	line-height: 44px;
	font-size: 0.9rem;
}

.mui-table-view-cell {
	font-size: 0.9rem;
}

.mui-content .title {
	padding: 15px 0px 0px;
}

.mui-content .title input,
.mui-content .title textarea {
	border: none;
	font-size: 0.9rem;
}

.current {
	position: absolute;
	right: 35px;
	color: #f68531;
}
