.mui-title{
	font-size: 1rem;
}

/*列表样式*/
.mui-table-view{
	background-color: #f7f6f6;
}

.mui-content>.mui-table-view:first-child{
	margin-top: 0px;
}

.mui-table-view-cell{
	padding: 10px 15px;	
}

.mui-table-view-cell img{
	width: 12%;
}

.mui-table-view-cell .describes{
	margin-left: 15%;
	height: auto;
}

.mui-table-view-cell .title{
	font-size: 0.9rem;
	color: #333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 70%;
	display: inline-block;
}

.mui-table-view-cell .times{
	color: #8f8f94;
	font-size: 0.7rem;
}

.mui-table-view-cell .line{
	margin-top: 2%;
	height: 1px;
	display: block;
	background: #c8c7cc;
	transform:scaleY(.5);
}

.icon-jifen,.icon-gouxuan{
	color: #8f8f94;
	display: inline-block;
	margin-top: 3%;
	font-size: 0.8rem;
}

.icon-gouxuan{
	margin-left: 5%;
}


.mui-table-view-cell>.mui-slider-handle{
	background-color: #f7f6f6;
}

.notice{
	text-align: center;
	margin: auto;
	height: 5%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.notice i{
	font-size: 4rem;
	color: #8F8F94;
}

.notice span{
	width: 100%;
	display: block;
}

.notice .title{
	font-size: 0.8rem;
	color: #8F8F94;
}

.dispress{
	display: none;
}
